body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #2a3044;
    color: #ffffff;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #2d3c44;
    border-style: 1px solid rgb(202, 202, 202);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    color: #8aeeb7; 
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 40%;
    top: 40%;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .game-footer {
    position: fixed;
    display: flex;
    left: 10%;
    bottom: 10%;
  }