.Title {
 box-sizing: border-box;
 display: flex;
 justify-content: center; 
 align-items: baseline;
 padding: 1em;
 margin-top: 0em;
 color: #6bbeee;
}

.Signature {
    position: fixed;
    display: flex;
    justify-content: right;
    padding: 1em;
    color: #6bbeee;
    right: 10%;
}